{% extends 'base.html.twig' %}

{% block title %}Liste des clients
{% endblock %}

{% block body %}
	<h1 class="text-center mt-3 mb-3">Liste des Trondro</h1>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Anarana</th>

				</tr>
			</thead>
			<tbody>
				{% for trondro in Trondro %}
					<tr>
						<td scope="row">{{ trondro.id }}</td>
						<td>{{ trondro.anarana }}</td>

					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>

{% endblock %}
