{% extends 'base.html.twig' %}

{% block title %}Modification des fornisseurs
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<h1 class="text-center mt-5 mb-5">Modification de Fournisseurs</h1>
	<div class="container">

		{{ form_start(form) }}
		<div class="md-4" style="margin-left: 27em;">
			{{ form_widget(form.anarana) }}
			<button class="btn btn-primary">{{ button_label|default('Mise a jour') }}</button>
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}
