{% extends 'base.html.twig' %}

{% block title %}Liste des clients
{% endblock %}

{% block body %}
	<h1 class="text-center mt-3 mb-3">Liste des Fournisseurs</h1>
	<center>
		<a href="{{ path('creation_client') }}" class="btn btn-primary">Ajouter un fournisseur</a>
	</center>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Anarana</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for fournisseur in Fournisseur %}
					<tr>
						<td scope="row">{{ fournisseur.id }}</td>
						<td>{{ fournisseur.anarana }}</td>
						<td class="justify-content-end">
							<a href="#" class="btn btn-info">Informations</a>

							<a href="{{ path('editer_fournisseur' , {'id': fournisseur.id }) }}" class="btn btn-success">Modifier</a>


						</td>

					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>

{% endblock %}
